\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

__pycache__/
*.py[cod]
.DS_Store

.idea
.tmp
.sass-cache

.schema
.jshintrc
.sass-cache

/env
/db
/data
/log/*.log
scratch.py

/wheelhouse
